{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}

{% block content %}
<body>


<div class="container">
    <br/> <br/>
    <h2 align="center">Available Polls</h2><br/>
    <div class="row">
        <div class="col-md-4">
            {% for i in poll %}
            <br>
            <div>
                <label> Created by - {{i.owner}}</label>
                <br>
                <label> {{i.question}}</label>
            </div>
            <div>
                <a href="{{ url_for('polls',poll_id=i.id) }}" class="btn btn-secondary btn-xs">Vote</a> &nbsp;
            </div>

            {% endfor %}
        </div>
    </div>
</div>
</body>

{% endblock %}